{% extends 'base.html' %}
{%block content%}
{%load static%}
<div class="logo">
	<img src="{%static 'img/4c.png'%}" alt="">
</div>

<div class="form-body">
<form class="simple" action="/form/" method="post">
	<div class="form-title"><h1 class="form">Room Cost</h1><h3 class="form">Enter your average cost per room for labor, amenities, cleaning supplies and laundry.</h3></div>
	<div class="form-fields">
 <div class="form-data"><label class="form-label" for="labor">Labor</label><br>
	 <input type="text" name="labor" id="labor" value="$10.00"><br></div>

  <div class="form-data"><label class="form-label" for="amenities">Amenities</label><br>
	  <input type="text" name="amenities" id="amenities" value="$30.00"><br></div>

  <div class="form-data"><label class="form-label" for="cleaning_supplies">Cleaning Supplies</label><br>
	  <input type="text" name="cleaning_supplies" id="cleaning_supplies" value="$5.00"><br></div>

  <div class="form-data"><label class="form-label" for="laundry">Laundry</label><br>
	  <input type="text" name="laundry" id="laundry" value="$5.00"><br></div>

</div>

 <div class="form-divider"></div>

 <div class="form-title">
 <h1 class="form">Walk Cost</h1>
 <h3 class="form">Enter your average variable cost for finding a new hotel room and compensating a guest when they are overbooked.</h3></div>

 <div class="form-fields">
 	<div class="form-data">
 		<label class="form-label" for="room">New Room Cost</label><br>
		<input type="text" name="room" id="room" value="$350.00"><br>
	</div>

   <div class="form-data">
   	<label class="form-label" for="meals">Meal Cost</label><br>
	<input type="text" name="meals" id="meals" value="$40.00"><br>
	</div>

     <div class="form-data">
     <label class="form-label" for="transportation">Transportation Cost</label><br></div>
	 <input type="text" name="transportation" id="transportation" value="$25.00"><br>
	 </div>

  <div class="form-data">
  <label class="form-label" for="cash-value">Cash or Voucher Value</label><br>
	  <input type="text" name="cash-value" id="cash-value" value="$200.00"><br></div>

<div class="form-data">
  <label class="form-label" for="desk-labor">Labor Cost</label><br>
 <input type="text" name="labor" id="desk-labor" value="$110.00"><br>
	</div>
 <div class="form-submit">
	 <a class="myButton" href="/graph2">Submit</a>
	</form>
	</div>


{%endblock %}
