{% extends 'base.html' %}
{%block content%}
<div class="graph-content">
  <div class="graph">
    <div class="graph-cost">
      <iframe height="96" width="480" frameborder="0" src="https://prd-p-jcm43kk47qq8.cloud.splunk.com/en-US/embed?s=%2FservicesNS%2Frarsan%2Fsearch%2Fsaved%2Fsearches%2FOpportunity%2520-%2520Next%252030%2520Days&oid=OiG0SY0S3DqhOL05lnz6y6bDQw%5EMqGDlhqv1yDOxHpfpR9tzCDXl27S3549_4WyDus1%5Ehg46hhf6eeoDjmkETuSKZGMlsUju_neivW1WZpFbdI5O5rCJ5Z5VGIh2UIqb1A3hPiJldEPVTRjvTQbb57aGUlH4HIr"></iframe>
    </div>


    <iframe height="336" width="480" frameborder="0" src="https://prd-p-jcm43kk47qq8.cloud.splunk.com/en-US/embed?s=%2FservicesNS%2Frarsan%2Fsearch%2Fsaved%2Fsearches%2FRemaining%2520Bookings%2520-%2520Next%252030%2520Days&oid=TaVQ0LdNOoXF2xTwMvhPJY1AQ2CUo9GQWGzxB898UgEY%5ECquirKaoZtPmU8gfIblCXLHpHfXBdUAG5XWwgX8cqB5C4J8SIDoLMohE3iA9IOlSiSW_yvolhRC80UAjRZjZUMXk7PIuIlu4s23tadjSKb2w9PhvGJ2CnrJYFHbwC"></iframe>



  </div>
</div>
<div class="button-container">

<button type="button" name="button" class="btn btn-info">Like</button>
<button type="button" name="button" class="btn btn-primary" onclick="sendMessageToFabric();">Share</button>
</div>

{%endblock %}
