{% extends 'base.html'%} {% block title %}HomeAway - Overbooking Cost {% endblock%} {% block content %}
   <div class="content">
    <div class="intro">
		<h1>4c.</h1>
		<h2>Optimizing overbooking.</h2>
	   </div>

     <div class="container info">
       <div class="contentInfo">
       <p>Hotels use overbooking as a revenue management strategy to optimize RevPAR. While this approach does increase profitability, overbooking can cause problems for travelers and hotels. When a hotel is unable to accommodate a guest due to overbooking,
         the Front Desk Staff must find a suitable alternative for the guest. Costs include a room at another hotel, meals, transportation, vouchers or other forms of compensation. Walking guests can also be costly in terms of staff overhead.
       </p>
      </div>
     </div>
<div class="cta">
	 <input type="submit" name="upvote" class="myButton" value="Get Started" onclick="logginButtonClicked();"/></div>


{% endblock %}
