{% extends "base.html" %}
<!--

If you delete this form, trying to go to /accounts/login will cause Django to throw an error.

-->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h2 class="header-tag">Log In</h2>
    </div>
    <div class="col-lg-10">
      <div class="form">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <!-- <p>Please login to see this page.</p> -->
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </div>
      <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </div>

      <div>

        <input class="myButton" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="/signup" class="myButton">Sign Up</a>
      </div>
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}

      <p><a class="text-muted" href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
    </div>
  </div>
</div>

{% load static %}
<div class="little-monk">
  <img src="{% static 'img/little-monk/little-monk-28.jpg' %}" alt="Chung Tai Zen Center Little Monk">
</div>

{% endblock %}
