{% extends "base.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<!--
If you delete this form, process will automatically route you to django's built-in pw reset form.
-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h2 class="header-tag">Password Reset</h2>
    </div>
    <div class="col-lg-10">
      <form action="" class="form" method="post">
          {% csrf_token %}
        {% if user.is_authenticated %}
        <p>Email: {{ user.email }}</p>
        {% else %}
        {% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>Email: {{ form.email }}</p>
        {% endif %}
        <input type="submit" class="myButton" value="Reset password" />
      </form>
    </div>
  </div>
  {% load static%}
 <div class="little-monk">
   <img src="{% static 'img/little-monk.png'%}" alt="Chung Tai Zen Center Houston Little Monk" />
 </div>
</div>
{% endblock %}
